* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

}

body {
  /* background imagem, não repete, alinhamento, tela toda*/
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
  /* fonte e cor da fonte */
  font-family: "Inter", sans-serif;
  color: white;
}

#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin: 8px;
}

/* links */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 24px;

  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.50);
  background: rgba(255, 255, 255, 0.10);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background .2s;
}

/* pseudo selector */
ul li a:hover {
  background: rgba(0, 0, 0, 0.02);
  border: 1.5px solid white;
}